    <!-- Home Container -->
    <div class="row hero">
      <img class="col-md-12" src="css/custom/images/basil.jpg" />
    </div>
    <div class="row">
      <div class="col-md-4">Some descriptive text about services.</div>
      <div class="col-md-8">Another room image.</div>
    </div>
    <div class="row">
      <div class="col-md-8">Another room image.</div>
      <div class="col-md-4">More descriptive text about Kubo.</div>
    </div>
    <div class="footer row">
      <div class=" col-md-8">Tagline, or slogan.</div>
      <div class="menu col-md-4">
        <ul>
          <li><a>Facebook</a></li>
          <li><a>Twitter</a></li>
          <li><a>Things</a></li>
          <li><a>Other-things</a></li>
        </ul>
        <ul>
          <li><a>Sitemap</a></li>
          <li><a>email@example.com</a></li>
        </ul>
      </div>
    </div>
