    <!-- Home Container -->
    <div class="row hero">
      <img class="col-md-12" src="/images/basil.jpg" />
    </div>
    <div class="row info">
      <div class="text col-md-4">
        <h2>Local Produce</h2>
        Talk about fresh! We grow right in Toronto, so your produce is as local as it can get. You can taste the fresh difference. Our things are local, community. Community is local, and produce. Growing, urban.
        <a href="/#/services" class="read-more">
          read more...
        </a>
      </div>
      <div class="col-md-8"><img src="/images/city.jpg" /></div>
    </div>
    <div class="row info">
      <div class="col-md-8"><img src="/images/ponics.jpg" /></div>
      <div class="text col-md-4">
        <h2>How it Works</h2>
        Our facilities have endless tubes and tunnels. Fish are involved, and we feed them. In turn, the fish poop feeds the plants. Other things happen, which relate to the process. I promise.
        <a href="/#/products" class="read-more">
          read more...
        </a>
      </div>
    </div>
